*.gdb
*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib
*.aps
*.obj
*.sdf
*.ncb
*.bak
*.user
*.la
*.suo
*.sdf
*.opensdf
.deps
.libs

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

obj/
bin/
ipch/

.DS_Store
